:root {
    interpolate-size: allow-keywords;
}

body {
    background-color: var(--color-gray-pale);
    font-family: var(--font-default);
    letter-spacing: var(--tracking-default);
    overflow: hidden;
}

#root {
    max-width: min(var(--spacing-max-width), 100vw);
    max-height: 100vh;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
    font-weight: normal;
    letter-spacing: var(--tracking-small);
}

h1 {
    font-size: var(--text-h1);
    text-align: center;
    letter-spacing: var(--tracking-default);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-default);
    padding-top: var(--spacing-default);
}


main > *:not(.full-bleed) {
    margin-inline: var(--spacing-default);
}