body {
    background-color: var(--color-gray-pale);
    font-family: var(--font-default);

    display: grid;
    grid-template-columns: var(--spacing-default) 1fr var(--spacing-default);
}

body > * {
    grid-column: 2;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
    font-weight: normal;
}

h1 {
    font-size: var(--text-h1);
    text-align: center;
}

h2 {
    font-size: var(----text-h2);
}

h3 {
    font-size: var(--text-h3);
}