@theme {
/* Colors */
    --color-white: #FFFFFF;
    --color-gray-pale: #FAFAFA;
    --color-gray-light: #CBCCD2;
    --color-gray: #878A96;
    --color-gray-dark: #333333;
    --color-dark: #1E1F25;

    --color-primary: #0F407B;
    --color-success: #35CF94;

/* Typography */
    --font-default: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    --text-h1: 1.375rem;
    --text-h2: 1rem;
    --text-h3: 0.875rem;

/* Spacing */
    --spacing-default: 0.875rem;
    --spacing-max-width: 50rem;

/* Shadows */
    --shadow-default: 0px 2px 10px #0000001A;

/* Border Radius */
    --radius-default: 10px;
}
